# NOTE: Requires **VS2019 16.3** or later

# Microsoft Extended Design Guideline Rules
# Description: These rules expand on the basic design guideline rules to maximize the usability and maintainability issues that are reported. Extra emphasis is placed on naming guidelines. Consider including this rule set if your project includes library code or if you want to enforce the highest standards for writing maintainable code.

# Code files
[*.{cs,vb}]


dotnet_diagnostic.CA1020.severity = warning

dotnet_diagnostic.CA1021.severity = warning

dotnet_diagnostic.CA1040.severity = warning

dotnet_diagnostic.CA1045.severity = warning

dotnet_diagnostic.CA1062.severity = warning

dotnet_diagnostic.CA1501.severity = warning

dotnet_diagnostic.CA1504.severity = warning

dotnet_diagnostic.CA1505.severity = warning

dotnet_diagnostic.CA1506.severity = warning

dotnet_diagnostic.CA1700.severity = warning

dotnet_diagnostic.CA1701.severity = warning

dotnet_diagnostic.CA1702.severity = warning

dotnet_diagnostic.CA1703.severity = warning

dotnet_diagnostic.CA1704.severity = none

dotnet_diagnostic.CA1707.severity = warning

dotnet_diagnostic.CA1709.severity = warning

dotnet_diagnostic.CA1710.severity = warning

dotnet_diagnostic.CA1711.severity = warning

dotnet_diagnostic.CA1712.severity = warning

dotnet_diagnostic.CA1713.severity = warning

dotnet_diagnostic.CA1714.severity = warning

dotnet_diagnostic.CA1715.severity = warning

dotnet_diagnostic.CA1717.severity = warning

dotnet_diagnostic.CA1719.severity = warning

dotnet_diagnostic.CA1720.severity = warning

dotnet_diagnostic.CA1721.severity = warning

dotnet_diagnostic.CA1722.severity = warning

dotnet_diagnostic.CA1724.severity = warning

dotnet_diagnostic.CA1725.severity = warning

dotnet_diagnostic.CA1726.severity = warning

dotnet_diagnostic.CA2204.severity = warning
